body {
  margin: 0;
  background-color: #b2c9ab;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 5px;
  margin-top: 10px;
}

h2 {
  font-size: 1.2em;
  color: #353745;
  margin-block-start: 0.5em;
  margin-block-end: 0.1em;
}

label {
  font-size: 80%;
  color: rgb(200, 200, 200);
}

.editInfo {
  min-width: 35%;
}

.pageTitle {
  display: flex;
  justify-content: center;
  align-content: center;
  letter-spacing: 0.3em;
  font-size: 1.5em;
  margin-bottom: 0%;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 600px) {
  h2 {
    text-align: center;
  }
  .mainContainer {
    flex-direction: column;
  }
  .generalInfo,
  .educationForm,
  .experienceForm,
  .infoContainer {
    margin: 15px;
  }
}

.generalInfo,
.educationForm,
.experienceForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 4% 7%;
  background-color: #666a86;
}

.mainHeading {
  font-style: italic;
  letter-spacing: 0.1em;
}

.formElement {
  margin: 0.5em 0 0.4em 0;
  position: relative;
}

.formElement input {
  width: 90%;
  font-size: 80%;
  padding: 0.4em 0.8em;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.formElement label {
  color: rgb(255, 255, 255);
}

.ongoingCheckbox {
  color: rgb(255, 255, 255);
}

.formElement input:focus {
  border-color: rgba(160, 0, 147, 0.521);
  outline: none;
}

.formElement.active label {
  opacity: 0;
}

input[type="email"]:invalid {
  border-color: #a80608;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

input[type="month"] {
  font-size: 100%;
}

.checkboxContainer {
  display: flex;
  align-items: stretch;
  max-width: fit-content;
  margin-top: 10px;
}

.displayInfo {
  min-width: 40%;
  min-height: 60%;
}

.renderContainer {
  margin: 2%;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: -15px;
}

.title {
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.name {
  padding-right: 2%;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.infoContainer {
  background-color: beige;
  min-width: 55%;
  min-height: 50%;
  padding: 1em 2em 3em;
  margin-top: 30%;
}

.itemHeading {
  color: #1f2726;
  margin-bottom: 10px;
}

.errorModal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-60%, -50%);
  padding: 30px;
  background-color: #666a86;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(200, 200, 200);
  z-index: 999;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.185);
}

.errorModal button {
  max-width: 50%;
  padding: 10px 25px 10px;
}
